
Fast Feud 2D/UserSettings/EditorUserSettings.asset
Fast Feud 2D/ProjectSettings/EditorBuildSettings.asset
*.zip
Fast Feud 2D/UserSettings/Layouts/default-2022.dwlt
Fast Feud 2D/ProjectSettings/ProjectVersion.txt
Fast Feud 2D/UserSettings/Layouts/default-2022.dwlt
Fast Feud 2D/UserSettings/EditorUserSettings.asset
